# Android
*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
local.properties

# Kotlin
*.class
*.jar
*.war
*.ear

# Archivos de Android Studio
*.idea/
!**/res/**/*.xml
!**/src/main/AndroidManifest.xml

# Archivos de compilación
app/build/
